/**
 * @name Eye Candy
 * @author Mudueon
 * @authorId 807170846497570848
 * @description Vencord port of Hanibee's Eye Candy (Darker varient).
 * @version 1.0.0
 * @updateUrl https://Moodzz1.github.io/DT/vencord/darkeyecandy.css
 * @source https://github.com/Moodzz1/DT/tree/main/vencord
 */

 @import url(https://moodzz1.github.io/DT/vencord/eyecandy.css);
 :root {

    --bg-1: #3B3A45;
    --bg-2: #33323C;
    --bg-3: #393843;

    .container__37e49, .panels_c48ade
    { background: #383743; border-radius: 8px;}