/**
 * @name Eye Candy
 * @author Mudueon
 * @authorId 807170846497570848
 * @description Vencord port of Hanibee's Eye Candy theme.
 * @version 1.0.0
 * @updateUrl https://Moodzz1.github.io/DT/vencord/eyecandy.css
 * @source https://github.com/Moodzz1/DT/tree/main/vencord
 */

 :root {
    /* eye candy */
    --bg-1: #4B4957; /* primary background colours */
    --bg-2: #3F3E4A; /* secondary background colours */
    --bg-3: #484654;
    --candy-accent: #C3A16E;
    --candy-accent-2: #C88EAD;
    --hover: #CFC7D83E; /* hovers */
    --text-1: #E8E8EA;
    --text-2: #BDBECC;
    
    /* Discord */
    --background-base-lower: var(--bg-2)!important;
    --background-mentioned: #BDBAEB17!important;
    --background-modifier-selected: #5A5966!important;
    --background-surface-high: #3F3E4A!important;
    --bg-brand: var(--candy-accent)!important;
    --channels-default: var(--text-2)!important;
    --chat-background-default: #5A4D5E!important;
    --checkbox-background-checked: #C3A16E!important;
    --icon-tertiary: #8E9297!important; /* read channel icons, chat header icons, inbox, help */
    --input-background: #5A4D5E!important;
    --message-reacted-background: #C88EAD33!important;
    --message-reacted-text: #fff!important;
    --shadow-border: #ff0!important;
    --status-danger: #C3A16E!important;
    --text-muted: #CEB0CD!important;
    --text-normal: var(--text-1)!important;
    --text-tertiary: #8E9297!important; /* read channel names, DM name next */
    
    --bg-overlay-2: var(--bg-2);
    --bg-overlay-3: #5A4D5E;
    --bg-overlay-4: var(--bg-2);
    --blue-new-36: #FFE1C1;
    --blurple-10: #5A4D5E;
    --blurple-19: #DFBE80; /* @mention foreground */
    --blurple-35: #CEB0CD;
    --blurple-49: #C3A16E; /* new message header */
    --blurple-50: var(--candy-accent-2); /* reacted border */
    --blurple-59: var(--text-1);
    --channel-text-area-placeholder: #CEB0CD;
    --green-360: #D1B681;
    --green-new-50: #D1B681;
    --neutral-5: var(--text-1);
    --neutral-22: var(--text-2);
    --neutral-29: #f00;
    --plum-13: var(--candy-accent-2);
    --red-345: #C4967A;
    --red-360: #1eff00;
    --status-danger: var(--candy-accent);
    --yellow-300: #BDBAEB;

    /* modify colors */
    .chatContent_f75fb0, /* chat background*/
    .formWithLoadedChatInput_f75fb0:before,
    .pageBody__5d7c9, .scroller__5d7c9, /*  channels and roles customise questions outer backround */
    .message__02a39, /* search results cards */
    .section_c7ac92, .divider__325ce, .divider__23eb0, .body__747b1, .overlay__747b1, .overlay_c0bea0,
    .role__5d7c9, .scrollerInner_e4503a, .categoryRow_e4503a, .pageBody__41ed7,
    .peopleColumn__133bf, /* friends page */
    .outer_bf1984, .body__00943,
    .container__0f2e8, /* activties card background */
    .emojiPickerListWrapper_c0e32c, .wrapper__14245, .categorySection_c656ac, .label__0d242, /* emoji picker backgrounds */
    .container_d02962, .content_fed6d3, .wrapper_e94b8c, .row_c6367b, /* gif and stickers backgrounds */
    .contentRegionScroller__23e6b, /* right side of server setttings */
    .background__1fed1, .fieldList__1fed1, .badgeList__1fed1,
    .accountButtonInner_c7f964,
    .content__49fc1, /* Vencord plugin popup body */
    .vc-settings-quickActions-pill,
    .appDetailsContainer_cb32c7, .command_c94584, .overviewContainerNoVideo__95856, /* apps background */
    .header__49fc1,
    .grid_f369db>div:first-child, /* forum post background */
    .modalTextContainer__4d95d,
    .messageContainer__95796, .messages__1ccd1, /* inbox backgrounds */
    .footer__45690, /* pinned message footer background when there are no pins */
    .users__260e1
    { background: var(--bg-1); }
    
    .container__2637a, /* channel list */
    .sidebarListRounded_c48ade,
    .members_c8ffbb, /* member list outer background */
    .childContainer__91a9d, .container__91a9d, 
    .container_c8ffbb,
    .childWrapperNoHoverBg__6e9f8,
    .folderIconContent__93fc9,
    .circleIconButton__5bc7e,
    .title_f75fb0, /* top chat header */
    .children__9293f:after,
    .floatingBars__74017:empty+.stackedBars__74017:nth-child(2), .stackedBars__74017, /* reply and make it a thread bars */
    .menu_c1e9c4, /* popup menus */
    .popoverReactionHoverBar_f84418,
    .gridContainer__623de, /* embed background */
    .prompt__5d7c9, /*  channels and roles customise questions inner backrounds */
    .channelRow_e4503a,
    .profileCard__5d7c9,
    .searchHeader_f3b986,
    .scroller_a9e706, /* search body */
    .panel_c0bea0,  /* profile in DMs */
    .inner_c0bea0,
    .body_af7fb7,
    .actionButton_f8fa06,
    .unicodeShortcut_b9ee0c, .listItems_affa7e, .inspector_aeaaeb, .categoryList_c0e32c, .header_c0e32c, .contentWrapper__08434, .emojiPicker_c0e32c, /* emoji picker backgrounds */
    .header_fed6d3, .categoryList__3ad28,
    .header__8ef02,
    .wrapper_d5f3cd,
    .sidebar__23e6b, .sidebarRegionScroller__23e6b, /* server settings sidebar */
    .accountProfileCard__1fed1,
    .connectContainer_c7f964, .accountBtnInner__750de,
    .radioBar__001a7,
    .vc-addon-card, .cardPrimary__73069, /* vencord plugin cards */
    .footer__49fc1, .medium__49fc1, /* vencord plugin popup header for settings/more info */
    .container__927fc, .container__7bdb0, /* apps background */
    .content__908e2,
    .hoverButtonGroup__06ab4,
    .vc-shiki-root, .markup__75297 code,
    .profilePreview_dbba93,
    .moreUsers__183c2,
    .wrapper__44df5,
    .sidebar_c48ade:after,
    .sidebar_c48ade,
    .header_ab6641, .scroller__95796, .channelHeader__35a7e, .scroller__2692d, /* inbox backgrounds */
    .header__45690, .messagesPopout__45690 /* pinned messages background when there are no pins */
    { background: var(--bg-2); }
    
    .guilds_c48ade, /* server list background */ 
    .title_c38106,
    .pill__1f388,
    .chat_f75fb0[data-has-border=true]
    { background: var(--bg-3); }
   
    .container__37e49, .panels_c48ade /* profile thing on bottom left */
    { background: #474655; border-radius: 8px;}

    /* input backgrounds */
    .channelTextArea_f75fb0, .channelTextArea_fb64c9,  /* chatbox */
    .subtitle__2ea32,
    .optionButtonWrapper__270d7.selected__270d7, /*  channels and roles customise questions selected backgrounds */
    .inner_a45028,
    .popout__3f413:not(.popoutPositionTop__3f413),
    .headerButton__57d3f,
    .header_f369db,
    /* .button__201d5 this causes problems somehow guh */
    .footer__4d95d,
    .traitContainer__4cbea,
    .inlineContainer__74017,
    .reaction_f8896c, .buttonInner__34c2c,
    .connectionHeader_c7f964,
    .total__260e1
    { background: #5A4D5E; }

     /* input background text colour */
    .hasContent__5126c, 
    .tag_fea832 
    { background: #CEB0CD; }

    .spriteGreyscale__04eed,
    .lottieIconColors__5eb9b :not(defs *)[fill][fill-opacity]
    { background: var(--text-1); }

    .childWrapper__6e9f8,
    .pendingIcon__93fc9
    { color: var(--text-2); }
    
    /* header text */
    .defaultColor__4bd52
    { color: #fff; }

    /* buttons */
    .jumpToPresentBar__0f481,
    .lookFilled__201d5.colorPrimary__201d5, .sortDropdown__27f60,
    .vc-shiki-btn,
    .inner_ab8609, .outer_ab8609:before, .outer_ab8609:after, /* status bubbles */
    .role_dfa8b6, /* role chips */
    .controlButton_ab6641, .friendRequestsButton__523aa, .button__06eda
    { background: #5A5966; }

    .checkIcon__270d7,
    .memberCount__270d7,
    .bar__7aaec,
    .mention__3b95d
    { background: var(--candy-accent);}

    .baseShapeRound__2b1f5
    { background: var(--candy-accent-2); }

    .repliedMessageClickableSpine_c19a55 /* reply pipe */
    { border-color: var(--candy-accent-2); }

    .hoverBarButton_f84418:hover
    { background: var(--hover); }

    .lookFilled__201d5.colorGreen__201d5:hover
    { background: #c3a15c; }
    
    /* switch sliders */
    .container__87bf1 { background: #696779!important; }
    .container__87bf1.checked__87bf1 { background: #C2A775!important;}

   

    /* test */
    .checked__87bf1 { background: #f00; }
    .total__260e1::after { border-right-color: #5A4D5E; }
     
    .messagesPopoutWrap__45690,
    .scroller_c1e9c4,
    .accountProfilePopoutWrapper__37e49
    { box-shadow: 0px 0px 50px hsl(0, 0%, 0%); border-radius: 8px;}

    .checkbox_f525d3.checked_f525d3 { background: #C2A775; }
    .interactive, .wrapper_f61d60 { background: #DFBE804D; } /* @mention background */
    .mentioned__5126c { background: #BDBAEB17; } /* mention highlight */
    .button_f563df { background: #5A5966; }
    .blockedIgnoredSettingsNotice__6811a  { background: #FFE1C11A; }
    .disableButton_d286c5, .lookFilled__201d5.colorRed__201d5 { background: #C4967A; }
    .replying__5126c  { background: #E8E8EA14; }
    .reaction_f8896c.reactionMe_f8896c { background: var(--message-reacted-background);}
    .messagelogger-deleted { background: #c4967a89!important; } /* vencord message logger deleted background */

    .container_cd2100 { border: none;}
    .ring_c9fddf { border-color: var(--bg-2);}
    .connectionOptionsWrapper_c7f964 { background: var(--bg-2); border-bottom-left-radius: 8px; border-bottom-right-radius: 8px;}

    /* status indicators - I got this from another theme, forgot which but credits to that */
    rect[fill='#83838b'] {
        fill: #75748B;
    }
    .status_a423bd[style='background-color: rgb(131, 131, 139);'] {
        background-color: #75748B !important;
    }
    rect[fill='#43a25a'] {
        fill: #90B27C;
    }
    .status_a423bd[style='background-color: rgb(68, 162, 91);'] {
        background-color: #90B27C !important;
    }
    rect[fill='#c99656'] {
        fill: #C3A260;
    }
    .status_a423bd[style='background-color: rgb(201, 150, 86);'] {
        background-color: #C3A260 !important;
    }
    rect[fill='#d83a42'] {
        fill: #C4967A;
    }
    .status_a423bd[style='background-color: rgb(216, 58, 66);'] {
        background-color: #C4967A !important;
    }
    rect[fill='#593695'] {
        fill: #8F669C;
    }
    .status_a423bd[style='background-color: rgb(89, 54, 149);'] {
        background-color: #8F669C !important;
    }